# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Collected data
CollectedData/
CollectedData.zip

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Windows specific
Thumbs.db
desktop.ini

# Compiled executables
*.exe
*.spec